@charset "utf-8";
/* font-awesome */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* font*/
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-weight: 300;
    margin: 0;
    line-height: 1.6em;
    width: 100%;
    font-family: 'IBMPlexSansKR-Regular';
}
ul, li{list-style: none;}
a{text-decoration: none;}
  /* Toggle Trigger */
.toggle {
    position: fixed;
    width: 30px;
    height: 20px;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 100;
}
.toggle span{
    position: absolute;
    width: 100%;
    height: 1px;
    background: white;
    display: block;
    transition: 0.3s;
}
.toggle span:nth-child(1){top: 0;}
.toggle span:nth-child(2){top: 50%;}
.toggle span:nth-child(3){top: 100%;}
.toggle.active span{background: #000;}
.toggle.active span:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}
.toggle.active span:nth-child(2){height: 0;}
.toggle.active span:nth-child(3){
    top: 50%;
    transform: rotate(-45deg);
}
.toggle.color span{background: black;}
/* Overlay */
.overlay {
    position: fixed;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.overlay.active {
    transform: scale(130);
    opacity: 1;
}
  /* Common CSS */
section{
    height: calc(100vh - 200px);
    width: 100%;
}
.inner{
    width: 1600px;
    height: 100%;
    margin: auto;
}
.title{
    text-align: center;
    font-size: 35px;
    padding: 40px;
    margin-top: 100px;
    box-sizing: border-box;
    position: relative;
    font-weight: 1000;
}
.title::before{
    content: "";
    width: 340px;
    height: 5px;
    background: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* toggle click after nav */
.gnb{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
    text-align: center;
}
.gnb li a{
    color: black;
    font-size: 60px;
    line-height: 1.6em;
    position: relative;
    width: 0%;
    z-index: 100;
    font-weight: bold;
}
.gnb li a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 20px;
    background: #2d34367a;
    left: 0;
    bottom: 20px;
    z-index: -1;
    transition: 0.5s;
}
.gnb li a:hover::before{width: 101%;}
.gnb.active{display: block;}
/* --------------section : home---------------------- */
.home_inner{
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
    opacity: 0;
    animation: display 3s linear;
    z-index: 20;    
}
@keyframes display {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.home_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideup 2s linear both;
    text-align: center;
}
@keyframes slideup {
    0%{ opacity: 0;
    margin-top: 50px;
}
    50%{opacity: 1;}
    100%{opacity: 0;}
}
.home_inner h3{
    font-size: 80px;
    line-height: 1.6em;
}
.home_inner p{font-size: 20px;}
.home_text i{animation: rotate 2s linear both;}
@keyframes rotate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
section{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
#home{
    height:100vh;
    position: relative;
    background: url(../images/dark-gray-plain-textured-background-min.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}
.home_txt{
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.home_txt h2{
    font-size: 80px;
    line-height: 1.6em;
    color: white;
    text-shadow: 3px 5px 5px black;
}
.home_txt h3{
    padding-top: 10px;
}
.home_txt h4{
    font-size: 22px;
    color: white;
    text-shadow: 5px 5px 20px rgb(49, 49, 49);
    padding-top: 100px;
    animation: opacity 1s 6s linear both;
}
.home_txt h2:nth-child(1){animation: opacity 1s 3.5S linear both;}
.home_txt h2:nth-child(2){animation: opacity 1s 5s linear both;}
.home_txt h3{
    color: white;
    animation: opacity 1s 6s linear both;
}
@keyframes opacity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.scroll{
    position: relative;
    width: 200px;
    height: 100px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: upDown 1s infinite linear alternate, show 1s 6s both;
}
.mouse{
    position: absolute;
    width: 40px;
    height: 50px;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 16px;
    border: 1px solid white;
}
.wheel{
    position: absolute;
    width: 5px;
    height: 7px;
    top: 85px;
    left: 97px;
    border-radius: 2px;
    border: 1px solid white;
}
.scroll i{
    position: absolute;
    left: 50%;
    top: 145px;
    transform: translateX(-50%);
    color: white;
}
.scroll p{
    position: absolute;
    bottom: -52px;
    left: 74%;
    transform: translateX(-50%);
    font-size: 14px;
    color: white;
    font-weight: bold;
    width: 200px;
}
@keyframes upDown {
    0%{top:-160px;}
    100%{top:-170px;}
}
@keyframes show {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/* -----------------------setcion: about-------------------------- */
.about_flex{
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    position: relative;
    animation: about 1s linear;
}
@keyframes about {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.about_left{
    flex: 1;
    height: 100%;
/*     background: purple; */
}
.about_square{
    width: 500px;
    height: 500px;
    background: #2d3436;
    position: absolute;
    top: 45%;
    left: -40px;
    transform: translateY(-50%);
}
.photo{
    width: 520px;
    height: 520px;
    position: absolute;
    left: 12px;
    top: 200px;
    background: url(../images/\(2\).jpg);
    background-size: cover;
}
.about_right{
    flex: 2;
    background: white;
    position: relative;
}
.about_top{
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 100%;
}
.about_top img{
    width: 80px;
    margin-left: 30px;
    filter: invert(52%) sepia(55%) saturate(5415%) hue-rotate(194deg) brightness(102%) contrast(102%);
}
.about_title{padding-left: 120px;}
.about_title h1{
    font-size: 48px;
    position: relative;
    margin-bottom: 80px;
    color: #777;
}
.about_title h3{
    line-height: 2em;
    font-size: 24px;
    text-align: justify;
}
.about_title h2{
    padding: 30px 0;
    text-align: center;
}
.about_bottom{width: 100%;}
.about_txt{
    position: absolute;
    bottom: 11%;
    left: 61%;
    transform: translateX(-50%);
    width: 100%;
    text-align: left;
}
.about_txt h2{
    font-size: 40px;
    line-height: 1.6em;
    color: #52616a;
}
.about_txt span{
    font-size: 20px;
    color: black;
}
.about_txt h2:nth-child(1) span{padding-left: 100px;}
.about_txt h2:nth-child(2) span{padding-left: 140px;}
.about_txt h2:nth-child(3) span{padding-left: 30px;}
.about_txt h2:nth-child(4) span{padding-left: 90px;}
/* -------------------section : skill----------------------------- */
#skill{
    box-sizing: border-box;
    height: 100vh;
}
.skill{
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    overflow: hidden;
}
.skill li{
    border-right: 5px solid WHITE;
    flex: 1;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}
.skill li:last-child{border-right: none;}
.skill li:hover{flex: 3;}
.skill li:nth-child(1){background: url(../images/HTML.jpg) no-repeat center center;}
.skill li:nth-child(2){background: url(../images/CSS.jpg) no-repeat center center;}
.skill li:nth-child(3){background: url(../images/js.jpg) no-repeat center center;}
.skill li:nth-child(4){background: url(../images/jquery.jpg) no-repeat center center;}
.skill li:nth-child(5){background: url(../images/adobe.jpg) no-repeat center center;}
.content{
    position: absolute;
    background: #000;
    height: 250px;
    color: white;
    bottom: -250px;
    transition: 0.5s;
    padding: 20px;
}
.content h2{
    text-align: center;
    padding: 20px;
}
.skill li:hover .content{
    bottom: 0;
    transition-delay: 0.5s;
}
/* skill bar */
.skillbar {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
    background: #eee;
    height: 35px;
    /* border-radius: 3px; */
    width: 100%;
}
.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    /* border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; */
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
}
.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    /* border-radius: 3px; */
    display: inline-block;
}
.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}
/* ---------------design_portfolio----------------------- */
.design_container{
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
}
.design_up{
    display: flex;
    flex: 1;
}
.up_img{
    flex: 1;
    height: 100%;
    background: url(../images/design1.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.up_bg2{
    flex: 1;
    background: url(../images/design2.jpg) no-repeat;
    background-size: cover;
}
.up_bg3{
    flex: 1;
    background: url(../images/design3.jpg) no-repeat;
    background-size: cover;
}
.design_down{
    display: flex;
    flex: 1;
    background: pink;
}
.down_img{
    flex: 1;
    background: url(../images/design4.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
.down_bg2{
    background: url(../images/design5.jpg) no-repeat;
    background-size: cover;
}
.down_bg3{
    background: url(../images/design6.jpg) no-repeat;
    background-size: cover;
}
.design_container a{
    display: block;
    width: 100%;
    height: 100%;
}
.design_up a{
    width: 100%;
    height: 100%;
}
.view_more{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.301);
    opacity: 0;
    transition: 0.5s;
}
.view_more i{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 80px;
    color: white;
    transform: translate(-50%, -50%);
}
.view_more:hover{opacity: 1;}
/* ---------------section: web_portfolio------------------------- */
#web_portfolio{
    position: relative;
    overflow: hidden;
}
.web_slick{
    width: 100%;
    height: calc(100vh - 110px);
}
.web_left{
    width: 350px;
    height: 100%;
    background: rgb(30, 143, 255);
    text-align: center;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    margin-top: -60px;
}
.web_left h4{
    font-size: 16px;
    margin: 5px;
    font-weight: 300;
}
.web_left p{
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
}
.web_left i{
    font-size: 18px;
}
.web_left a{
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 0;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
    font-size: 20px;
    line-height: 50px;
    background: black;
    text-transform: uppercase;
}
.web_left :nth-child(5){margin-bottom: 50px;}
.web_right{
    width: 1250px;
    height: 100%;
    background: white;
    overflow: hidden;
    float: right;
}
.web_mockup{
    position: relative;
    left: 150px;
    top: -50px;
}
.pc_ver{
    position: relative;
    left: 200px;
}
.monitor{
    width: 679px;
    height: 355px;
    background: #000;
    position: absolute;
    top: 226px;
    left: 103px;
    overflow: hidden;
}
.monitor img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 2s;
}
.mobile{
    width: 116px;
    height: 191px;
    background: black;
    position: absolute;
    top: 550px;
    right: 310px;
    overflow: hidden;
}
.mobile img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 10s;
}
/* slick left(n), */
.left1{
    background: #ED4264;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.left2{
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.left3{
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.left4{
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.left5{
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.left6{
    background: #cc2b5e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.left7{
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.left8{
    background: #a73737;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.left9{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.left10{
    background: #c21500;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* slick monitor(n), mobile(n) px */
.monitor1:hover img{top: -1350px;}
.monitor1 img{transition: 10s;}
.monitor2 img{transition: 5s;}
.monitor2:hover img{top: -450px;}
.monitor3 img{transition: 7s;}
.monitor3:hover img{top: -1920px;}
.monitor4 img{transition: 5s;}
.monitor4:hover img{top: -740px;}
.monitor5 img{transition: 4s;}
.monitor5:hover img{top: -420px;}
.monitor6:hover img{top: -1220px;}
.monitor6 img{transition: 7s;}
.mobile6 img{transition: 6s}
.mobile6:hover img{top:-800px}
.monitor7 img{transition: 15s;}
.monitor7:hover img{top: -3080px;}
.mobile7 img{transition: 17s;}
.mobile7:hover img{top: -2620px;}
.monitor9 img{transition: 8s;}
.monitor9:hover img{top: -1550px;}
.mobile9:hover img{top: -1770px;}
/* slick */
.inner .slick-arrow{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 1;
    text-indent: -9999px;
}
.inner .slick-arrow.slick-prev{
    background: url(../images/prev.png) no-repeat;
    left: 360px;
    background-size: cover;
}
.inner .slick-arrow.slick-next{
    background: url(../images/next.png) no-repeat;
    left: 1500px;
    background-size: cover;
}
.inner .slick-dots{
    position: absolute;
    top: 660px;
    left: -622px;
}
.inner .slick-dots li{}
.inner .slick-dots li button{
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}
.inner .slick-dots li.slick-active button{
    width: 15px;
    height: 15px;
    background: black;
}
/* btn-top */
.btn_top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(100px);
    transition: 0.5s;
}
.btn_top.active{
    transform: translateY(0);
}
.btn_top i{
    font-size: 15px;
    animation: move 0.5s infinite linear alternate;
    color: white;
}
.btn_top i a{
    width: 100%;
    height: 100%;
    display: block;
}
@keyframes move {
    0%{transform: translateY(0);}
    100%{transform: translateY(-5px);}
}
footer{
    padding: 15px 0;
    text-align: center;
    box-sizing: border-box;
}
footer p:nth-child(1){font-weight: bold;}
footer p:nth-child(2){color: #777;}
/* ---------------featherlight css-------------------*/
.featherlight .featherlight-content {
    margin-left: 0;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
.featherlight iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 20px;
    right: 50px;
    line-height: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    border: none;
    padding: 0;
    font-size: 40px;
    outline: none;
}
.featherlight .featherlight-image{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
/* -----------footer---------------------- */
