@charset "utf-8";
@font-face {
    font-family: "coke";
    src: url(../font/cocacola.TTF);
}
@font-face {
    font-family: "coke_eng";
    src: url(../font/LOKICOLA.TTF);
}
@font-face {
    font-family: "font_eng";
    src: url(../font/GemunuLibre-VariableFont_wght.ttf);
}