@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: white;
    line-height: 1.6em;
    font-size: 26px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: white;
}
/* --------------------header----------------------- */
header{
    overflow: hidden;
    padding: 25px 55px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.logo{float: left;}
.logo a{}
.logo a img{width: 170px;}
header button{
    background: crimson;
    border: none;
    color: white;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    float: right;
}
/* -------------------welcome ------------------------------*/
.welcome{
    background: url(../images/KR-ko-20211011-popsignuptwoweeks-perspective_alpha_website_small.jpg) no-repeat center center;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.welcome::before{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.664);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 800px;
}
.heading h2{
    font-size: 65px;
    width: 100%;
    line-height: 1.2em;
}
.heading h5{
    font-weight: normal;
    margin: 0;
    font-size: 20px;
}
.heading p{font-size: 20px;}
.getstarted{position: relative;}
.getstarted input[type=email], .getstarted button{
    height: 60px;
    border: none;
    vertical-align: bottom;
    outline: none;
}
.getstarted input[type=email]{
    width: 450px;
    margin-top: 10px;
    display: inline-block;
    text-indent: 40px;
    font-size: 18px;
}
.getstarted span{
    font-size: 20px;
    position: absolute;
    left: 100px;
    top: 20px;
    color: #222;
    transition: 0.3s;
}
.getstarted.active span{
    font-size: 12px;
    top: 0;
    left: 80px;
}
.getstarted button{
    width: 220px;
    cursor: pointer;
    background: crimson;
    color: white;
    font-size: 24px;
    vertical-align: middle;
}
/* ------------section: enjoy, download, watch, create */
section{
    border-bottom: 10px solid #333;
}
.inner{
    width: 1100px;
    margin: auto;
    display: flex;
    text-align: justify;
}
.enjoy{flex: 1;}
.desc{
    flex: 1;
    padding:  170px 0;
}
.desc h2{margin-bottom: 20px;}
/* ------------------section: faq--------------------- */
.faq_inner{
    width: 1100px;
    margin: 0 auto;
}
.faq_inner h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 40px;
}
.faq_title{
    background: #303030;
    margin-bottom: 5px;
    padding: 10px;
}
.faq_title h3{font-size: 20px;}
.faq_text{
    background: #303030;
    display: none;
    text-align: justify;
    padding: 20px;
}
.faq_text p{font-size: 16px;}
.faq_title i{
    float: right;
    transition: 0.3s;
}
.faq_title.active i{transform: rotate(45deg);}
.faq_title:hover, .faq_title.active{background-color: #34495e;}
.faq_text.active{display: block;}
.faq_membership{
    margin: 50px auto;
    text-align: center;
    position: relative;
}
.faq_membership h2{font-size: 30px;}
.faq_membership input[type=email], .faq_membership button{
    height: 60px;
    margin-top: 30px;
    vertical-align: bottom;
}
.faq_membership input[type=email]{
    width: 420px;
    outline: none;
    font-size: 24px;
    text-indent: 40px;
}
.faq_membership button{
    width: 220px;
    background: crimson;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.faq_membership span{
    position: absolute;
    left: 300px;
    top: 100px;
    color: #666;
    transition: 0.3s;
}
.faq_membership.active span{
    top: 80px;
    left: 250px;
    font-size: 16px;
}
/* ----------------------FOOTER-----------------*/
footer{}
.footer_inner{
    width: 1100px;
    margin: 100px auto;
}
.footer_inner h2{
    font-size: 18px;
    color: #666;
}
.footer_nav li{
    float: left;
    width: 25%;
    list-style: none;
}
.footer_nav li a{
    font-size: 14px;
    font-weight: 300;
    color: #666;
}
.footer_nav li a:hover{border-bottom: 1px solid #333;}
.footer_select{clear: both;}
select{
    padding: 20px 20px;
    border: none;
    background: black;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    color: #666;
}
select option{text-indent: 10px;}
.footer_about h2{font-size: 18px;}
.footer_about p{
    font-size: 12px;
    line-height: 1.3em;
    color: #666;
}
/* modal */
.modal_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    width: 400px;
    height: 500px;
    display: none;
}
.modal_inner{padding: 20px;}
.modal_inner h2{font-size: 24px;}
.login_input input{
    display: block;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    position: relative;
    text-indent: 20px;
    /* border: 5px solid yellow */
}
.email{
    position: absolute;
    color: black;
    z-index: 10;
    font-size: 14px;
    top: 70px;
    left: 50px;
    transition: 0.5s;
}
.password{
    position: absolute;
    top: 120px;
    left: 50px;
    z-index: 10;
    color: black;
    font-size: 14px;
    transition: 0.5s;
}
.login_input .email.active{
    left: 30px;
    top: 60px;
    font-size: 12px;
}
.login_input .password.active{
    left: 30px;
    top: 110px;
}
.sign_in{
    width: 100%;
    background: crimson;
    height: 40px;
    text-align: center;
}
.modal_inner input[type="checkbox"]:checked{
    display: inline!important;
    border: 5px solid yellow;
}
.remember, .need{
    font-size: 14px;
    cursor: pointer;
}
.remember{padding-left: 10px;}
.need{padding-left: 170px;}
.login_input span{font-size: 12px;}
.modal_down{vertical-align: middle;}
.modal_down i{color: dodgerblue;}
.modal_down span{font-size: 16px;}
.modal_down p{
    font-size: 18px;
    line-height: 1.6em;
}
.modal_down p:nth-of-type(2){font-size: 14px;}
.modal_down p:nth-of-type(2) a{
    color: blue;
    padding: 0 20px;
}
