@charset "utf-8";
/* font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap');
/* RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{list-style: none;}
a{text-decoration: none;}

/* COMMON CSS */
body{
    font-family:'IBM Plex Sans KR','Nanum Gothic', sans-serif;
    color: #222;
    font-size: 15px;
    margin: 0;
    height: 100vh;
    background-color: #fff;
}
.cd-section{
    height: 100vh;
}
.cd-section > div{
    height: 100%;
    position: relative;
}
.content{
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    left: 20px;
    bottom: 20px;
    background: white;
}
/* ------------------header------------------------ */
header{
    position: fixed;
    width: 100%;
}
.head_inner{
    width: calc(100% - 40px);
    margin: auto;
    height: 60px;
    display: flex;
    line-height: 60px;
}
.logo{
    flex: 1;
    text-align: center;
    padding-top: 6px;
    box-sizing: border-box;
}
.gnb{flex: 4;}
/* .gnb ul{
    display: flex;
    justify-content: space-around;
}
.gnb ul li{
}
.gnb ul li a{
    color: dodgerblue;
} */
.slogan{
    flex: 1;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}
video{
    width: 100%;
    height: 100%;
}
/* --------------about---------------------- */
.about_inner{
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
}
.about_items{
    flex: 1;
    width: 100%;
    height: 100%;
    margin: 100px auto;
    padding-left: 50px;
    padding-top: 50px;
}
.about_items h2{text-align: center;}
.about_right{
    flex: 1;
    background: url(../images/band-gecdad4732_1920.jpg) center;
    width: 100%;
    height: 100%;
}
.item{
    overflow: hidden;
    margin: 40px 0;
    transition: 0.5s;
}
.item span h3{}
.item:hover h3{
    color: rgb(30, 143, 255);
    letter-spacing: 2px;
}
.item:hover img{filter: invert(45%) sepia(30%) saturate(5669%) hue-rotate(194deg) brightness(104%) contrast(101%);}
.item img{
    height: 100px;
    float: left;
    margin-right: 40px;
}
.item span{
    line-height: 1.4;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.item h3{
    font-size: 30px;
    font-weight: 600;
}
.item p{
    overflow: hidden;
    font-weight: normal;
    line-height: 2;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 18px;
}
/* ------------------------lineup------------------------- */
.lineup_inner{
    height: 100%;
    overflow: hidden;
    background: white;
    border: 1px solid #ddd;
}
.tabs{
    height: 100%;
    width: 300%;
    transition: 0.5s;
}
.tab{
    height: 100%;
    float: left;
    width: 33.333333%;
}
.tab > div{
    height: 100%;
    float: left;
}
.lineup_info{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}
.lineup_info h2{
    text-align: center;
}
.lineup_info h2 img{width: 50%;}
.hr{
    width: 100px;
    height: 1px;
    background: #666;
    margin-bottom: 20px;
/*     margin-bottom: 30px; */
}
.lineup_info p{
    text-align: justify;
    padding-top: 20px;
}
.lineup_info button{
    display: block;
    width: 100px;
    height: 30px;
    border: none;
    background: dodgerblue;
    cursor: pointer;
    color: white;
    margin-top: 30px;
}
.lineup_info button:hover{
    box-shadow: 2px 2px 10px rgb(30, 143, 255);
    background: white;
    color: dodgerblue;
}
.lineup_photo{
    width: 75%;
    position: relative;
}
.lineup_photo img{
    width: 100%;
    height: 100%;
}
.lineup_photo .slick-dots{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.lineup_photo .slick-dots li{
    display: inline-block;
    margin: 10px;  
}
.lineup_photo .slick-dots li button{
    border: none;
    width: 10px;
    height: 10px;
    background: white;
    text-indent: -9999px;
    border-radius: 5px;
    cursor: pointer;
}
.lineup_photo .slick-dots li.slick-active button{background: #777;}
input[name=tabmenu]{display: none;}
.btn{
    position: absolute;
    bottom: 30px;
    width: 25%;
    text-align: center;
}
.btn label{
    cursor: pointer;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    position: relative;
}
.btn label::before{
    content: "";
    display: inline-block;
    border: 1px solid transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: -5px;
    top: -5px;
    transition: 0.3s;
}
.btn label:hover::before{border: 1px solid black;}
input[id=tab1]:checked ~ .btn label[for=tab1]:hover:before,
input[id=tab2]:checked ~ .btn label[for=tab1]:hover:before,
input[id=tab3]:checked ~ .btn label[for=tab1]:hover:before{
    border: 1px solid #aaa;
}
input[id=tab1]:checked ~ .btn label[for=tab1]{color: red;}
input[id=tab2]:checked ~ .btn label[for=tab2]{color: red;}
input[id=tab3]:checked ~ .btn label[for=tab3]{color: red;}
input[id=tab1]:checked ~ .tabs{margin-left: 0;}
input[id=tab2]:checked ~ .tabs{margin-left: -100%;}
input[id=tab3]:checked ~ .tabs{margin-left: -200%;}
/* -----------------MD----------------------- */
.md{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.md_up{
    flex: 1;
    display: flex;
    width: 100%;
}
.md_txt{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.md_logo{
    flex: 4;
    padding-left: 10px;
}
.md_logo h2{
    text-align: center;
    font-weight: bold;
}
.md_cont{
    flex: 6;
    text-align: center;
    height: 100%;
    padding: 40px 0;
}
.md_cont h2{
    font-size: 60px;
    margin: 30px;
    text-align: left;
}
.md_cont hr{
    width: 800px;
    margin-bottom: 30px;
    color: dodgerblue;
}
.md_cont p{
    font-size: 20px;
    text-align: left;
}
.md_cont span{
    color: red;
    font-weight: bold;
}
.md_txt img{}
.md_down{
    flex: 1;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.md_list{
    width: 1400px;
    height: 400px;
    margin: 0 auto;
}
.md_slick{
    height: 100%;
}
.md_slick li{
    width: 25%;
    position: relative;
}
.md_slick li a{}
.md_img{
    width: 100%;
    position: relative;
    height: 100%;
}
.md_img img{
    width: 100%;
    height: 400px;
}
.md_name{}
.md_name p{
    text-align: center;
    color: black;
    font-size: 16px;
}
.md_hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.438);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    display: none;
}
.md_hover p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.md_slick li a:hover .md_hover{display: block;} 

.md_slick .slick-slide > div{margin: 0 9px;}
.md_slick .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -9999px;
    width: 45px;
    height: 79px;
    border: none;
    cursor: pointer;
}
.md_slick .slick-prev{
    left: -100px;
    background: url(../images/flag-arr-prev.png) no-repeat;
}
.md_slick .slick-next{
    right: -100px;
    background: url(../images/flag-arr-next.png) no-repeat;
}
.md_slick .slick-dots{
    position: absolute;
    bottom: 0px;
    width: 250px;
    left: 50%;
    transform: translateX(-27%);
}
.md_slick .slick-dots li{
    display: inline-block;
    margin: 0;
}
.md_slick .slick-dots li button{
    text-indent: -9999px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.md_slick .slick-dots li.slick-active button{
    background: gray;
    width: 15px;
    height: 15px;
}
/* ---------------map------------------------ */
.map{
    display: flex;
    width: 100%;
    height: 100%;
}
.map_img{
    flex: 1;
    background: #000;
}
.map_img iframe{
    width: 100%;
    height: 100%;
}
.map_txt{
    flex: 1;
    background: black;
}
.map_txtin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: white;
    text-align: center;
}
.map_txtin h2{
    font-size: 100px;
}
.map_txtin hr{
    width: 100px;
    height: 2px;
    background: blue;
    margin-top: 10px;
    margin-bottom: 20px;
}
.map_txtin h3{
    font-size: 40px;
    margin: 20px 0;
}
.map_txtin p{
    line-height: 2;
}
.map_txtin address{
}
.map_txtin .green{color: green;}
.map_txtin .blue{color: blue;}
.map_txtin .red{color: red;}
.map_txtin .purple{color: purple;}
.map_txtin .lightgreen{color: lightgreen;}
.car p{}
/* register */
.contact{
    background: #fff;
    width: 100%;
    height: 100%;
}
.contact_inner{
    background: white;
    background-size: 200px;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_inner > div{
    flex: 1;
    padding: 20px;
}
.contact_form h3{
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}
.contact_form p{
    margin-left: 20px;
}
form label{
    display: block;
    font-weight: bold;
    margin: 10px;
}
form label span{
    color: dodgerblue;
    font-weight: normal;
}
form input{
    display: block;
    margin: 10px 0;
}
form input[type=text],
form input[type=tel],
textarea{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    width: 100%;
}
form input[type=text]:hover,
form input[type=tel]:hover,
textarea:hover{
    border: 1px solid #0088cc;
    box-shadow: 0 0 5px #0088cc;
}
form input[type=text]:focus,
form input[type=tel]:focus,
textarea:focus{
    border: 1px solid #0088cc;
    box-shadow: 0 0 5px #0088cc;
}
form button{
    display: block;
    background: dodgerblue;
    border: none;
    padding: 12px 20px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
    margin: 20px auto;
}
form button:hover{
    color: dodgerblue;
    background: white;
}
.contact_info{
    text-align: center;
    width: 100%;
    height: 100%;
}
.contact_info img{
    width: 180px;
    padding-left: 40px;
    margin-bottom: 30px;
}
.contact_info > h4{
    background-size: contain;
}
.contact_info h4{
    font-size: 24px;
    margin: 10px 0;
}