@charset "utf-8";
#wrap{
    width: 100%;
}
/*---------------------header-------------------------- */
.header{}
.head_inner{
    width: 100%;
    margin: 0 auto;
    background: #F40009 url(../img/header_img.png) no-repeat 100px;
    height: 150px;
    position: relative;
}
.logo{
    float: left;
    margin-left: 150px;
}
.circle_animation{
    position: absolute;
    left: 450px;
    top: 10px;
    animation: rotate 5s 2s infinite backwards ease-in-out alternate;
    z-index: 1000;
}
.circle_animation > img{
    width: 70px;
}
/* circle_animation_keyframe */
@keyframes rotate {
    0%{
        left: 550px;
        top: 10px;
    }
    100%{
        transform: rotate(360deg);
        left: 1740px;
    }
}
/* nav */
.nav{float: right;}
.main{}
.main li{
    float: left;
    width: 230px;
    text-align: center;
    margin: 100px 0 0 0px;
}
.main li:last-child{display: none;}
.main li a{
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s;
    font-weight: bold;
}
.main li a:hover{color: black;}
.nav .exit{display: none;}
/* ------------section slide---------------- */
.slide{position: relative;}
.img_slide{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.img_slide img{
    width: 100%;
    height: 800px;
    object-fit: cover;
}
/* img_slide slick */
.slick-arrow{display: none !important;}
.img_slide_txt{
    position: absolute;
    right: 0px;
    bottom: 100px;
    width: 1200px;
    text-align: right;
    color: white;
    padding-right: 20px;
}
.img_slide_txt h2{
    font-size: 200px;
    font-family: "coke_eng";
    color: #F40009;
    font-weight: bold;
}
.img_slide_txt p{font-size: 50px;}
.fontawesome{padding-left: 20px;}
.fa-bars{display: none;}

/* ---------------------section1 : story-------------------------- */

.story{}
hr{margin-bottom: 30px;}
.section_title{
    width: 1200px;
    font-size: 40px;
    margin: 100px auto;
    text-align: center;
}
.section_title h2{font-family: "font_eng";}
.section_title i{font-size: 40px;}
.story_inner{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.coke_story{
    text-align: center;
    animation: big 1s linear both;
}
@keyframes big {
    0%{transform: scale(1.5);}
    100%{transform: scale(1);}  
}
.coke_story img{margin: 10px 0;}
.section_story{
    margin:  0 auto;
    overflow: hidden;
}
.section_story > div{
    float: left;
    width: 50%;
    text-align: center;
    padding-bottom: 100px;
}
.story_text{}
.story_text > h2{
    font-family: "coke_eng";
    font-size: 70px;
    color: #F40009;
}
.story_text p{
    text-align: justify;
    padding: 0 50px;
    padding-top: 50px;
}
/* --------------- story animation -------------------- */
.ltr{animation: ltr 2s linear both;}
.rtl{animation: rtl 2s linear both;}
@keyframes ltr {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rtl {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.brand_title{
    text-align: center;
    font-size: 40px;
}
.brand_list{
    margin: 0 auto;
    padding-top: 30px;
}
.brand_list img{
    position: relative;
    top: 100px;
    transform: translateY(-50%);
    margin: 0 auto;    
}
/* ---------------------section2 : event--------------------------*/
#section2{}
.event{}
.event_inner{
    width: 1200px;
    overflow: hidden;
    margin: 0 auto;
}
.event_section{width: 100%;}
.event_section > div{
    float: left;
    width: 33.333333%;
    position: relative;
    margin: 30px 0;
}
.fa-fan{
    color: dodgerblue;
    animation: rotate360 infinite 2s linear;
}
@keyframes rotate360 {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.event_section > div img{
    width: 100%;
    height: 100%;
}
.event_on{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
}
.event_on p{line-height: 400px;}
.event_section > div:hover .event_on{
    background: rgba(0, 0, 0, 0.514);
    display: block;
    color: white;
    font-size: 40px;
}
.event_more{}
.event_circle{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: red;
    border-radius: 50%;
    color: white;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
}
/* ---------------------section3 : life-------------------------- */
#sction3{}
.life{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.life h2{padding-top: 30px;}
.life i{color: pink;}
.life_inner{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}
.life_img{overflow: hidden;}
.life_img img{
    display: block;
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: right;
}
.life_img:nth-child(2) img,
.life_img:nth-child(5) img,
.life_img:nth-child(6) img
{object-position: center;}
.life_img:nth-child(7) img{object-position:bottom;}
.life_img:hover img{
    transform: scale(1.2);
    opacity: 0.5;
}
.big_img{grid-area: 1 /1 / 3 / 3;}
.big_img img{
    width: 100%;
    height: 100%;
}
/* ---------------------section4 : eco-------------------------- */
#section4{padding-top: 0px;}
.eco-friendly{}
.eco_inner{overflow: hidden;}
.eco_inner > div{
    float: left;
    width: 33.3333%;
    height: 400px;
    position: relative;
    background: #f9f9f9;
}
.eco_inner > div > img{
    width: 100%;
    object-fit: contain;
}
.eco_friendly i{
    color: green;
    padding-left: 10px;
}
.eco_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f9f9f9;
}
.eco_text h2{
    text-align: center;
    border-bottom: 1px solid green;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.eco_text > p{text-align: justify;}
/* ---------------------section5 : society-------------------------- */
#section5{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.society{margin-top: 200px;}
.society_inner{
    width: 1200px;
    margin: 0 auto;
}
.society_int{animation: fade 1s ;}
@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.society > div >h2{padding-top: 50px;}
.society > div > h2> i{color: red;}
.society_int img{
    width: 50px;
    filter: invert(36%) sepia(99%) saturate(4685%) hue-rotate(341deg) brightness(81%) contrast(147%);
}
.society_int h2{
    text-indent: 50px;
    font-size: 60px;
    padding-bottom: 30px;
}
.society_int p{
    text-align: justify;
    font-size: 25px;
    width: 1200px;
    color: white;
}
.society_3{
    overflow: hidden;
    margin-top: 200px;
}
.society_3 > div{
    float: left;
    width: 33.33333%;
    height: 300px;
}
.society_3 > div > img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.society_card:nth-child(1){animation: fade 1s;}
.society_card:nth-child(2){animation: fade 3s;}
.society_card:nth-child(3){animation: fade 5s;}
.society_card{position: relative;}
.society_text{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    font-size: 18px;
}
.society_text h2{
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    color: black;
}
.society_card:hover > div{
    display: block;
    background: #1a2a6c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    height: 800px;
}
/* ---------------------section6: app-------------------------- */
#section6{}
.app{}
.app_inner{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /* display: flex;
    justify-content: space-between; */
}
.app_slide{
    position: relative;
    display: inline-block;
    width: 320px;
    /* border: 1px solid #000; */
}
.app_inner > div > h2 > i{color: gray;}
.app_inner > div{float: left;}
.app_slide img{}
.slide_img{
    position: absolute;
    width: 85%;
    height: 550px;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.slide_img img{
    width: 100%;
    height: 100%;
    object-position: left;
}
.app_more{
    padding: 100px 0 0 150px;
    width: 800px;
    text-align: center;
    height: 669px;
    box-sizing: border-box;
}
.app_more > img{width: 40%;}
.app_store > div{
    display: inline-block;
    padding-top: 50px;
    width: 300px;
}
.app_text{margin-top: 50px;}
/* ------------------------------footer--------------------------------- */
#footer{}
.footer_inner{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    background: #F40009;
    justify-content: space-between;
}
.f_logo{
    flex: 2;
    margin-top: 40px;
    margin-left: 100px;
}
.f_cont{flex: 6;}
.f_cont ul{
    overflow: hidden;
    margin-top: 80px;
    text-align: center;
    margin-left: 200px;
}
.f_cont ul li{
    float: left;
    width: 33.3333%;
}
.f_cont ul li a{}
.f_sns{flex: 4;}
.f_sns ul{margin-left: 30px;}
.f_sns ul li{
    float: right;
    margin-top: 70px;
}
.f_sns ul li img{width: 80%;}
.facebook, .instagram, .twitter{filter: invert(100%) sepia(0%) saturate(7476%) hue-rotate(110deg) brightness(98%) contrast(108%);}
.slick-arrow{
    display: block;
    z-index: 999;
    color: white;
}
#typing{
    color: red;
    font-weight: bold;
}
/* --------------------------popup--------------------------------*/
.popup{}
.pop_in{
    width: 400px;
    height: 600px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.pop_in img{
    width: 400px;
    position: absolute;
    bottom: -70px;
    right: -100px;
}
.pop_in h2{
    font-family: "coke_eng";
    color: white;
    font-size: 100px;
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
}
.pop_in p{
    font-family: "coke_eng";
    text-align: right;
    padding-right: 20px;
    font-size: 100px;
}
.pop_close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.pop_close i{
    font-size: 30px;
    padding-left: 4px;
    color: lightgray;
}
.pop_join{
    width: 250px;
    height: 60px;
    border-radius: 20px;
    background: #8E0E00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 10px 0 0 10px;
    animation: bounce 2s  infinite alternate;
}
.pop_join h3{
    line-height: 60px;
    font-size: 30px;
    color: white;        ;
    text-align: center;
}
@keyframes bounce {
    0%{margin-top: -20px;}
    100%{margin-top: 10px;}
}
/* ---------------------------- right bottom btn-------------- */
.btn_top{
    position: fixed;
    /* border: 1px solid red; */
    right: 20px;
    bottom: -50px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.377);
    color: white;
    line-height: 40px;
    text-align: center;
    transition: 0.5s;
}
.btn_top.active{bottom: 20px;}
.brand_list .slick-dots li{margin: 0;}
.brand_list .slick-dots li button:before{
    opacity: 1;
    transform: scale(2);
}
.brand_list .slick-dots .slick-active button:before{
    color: transparent;
    border: 1px solid #000;
    border-radius: 50%;
    opacity: 1;
    transform: scale(0.5);
    top: 1px;
}
.trigger{display: none;}