@charset "utf-8";
body{
    overflow-x: hidden;
}
/* ------------------header------------------ */
header{height: 44px;}
.header_inner{
    width: 100%;
    height: 44px;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.514);
    position: fixed;
    z-index: 20;
}
.header_nav{
    width: 1000px;
    margin: 0 auto;
}
.gnb{}
.gnb li{
    float: left;
    width: 100px;
    height: 44px;
    line-height: 44px;
}
.gnb li a{
    padding: 10px;
}
.ad{
    width: 1920px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: lightgray;
}
section{
    width: 1920px;
    margin: 0 auto;
}
/* -------------------mainimg-------------------- */
.mainimg{
    background: url(../images/iphone_12_updated__jepm2xpxncuy_largetall.jpg) no-repeat center center;
    height: 736px;
}
.mainimg h1{
    text-align: center;
    font-size: 40px;
    padding: 130px 0 30px 0;
}
.mainimg p{text-align: center;}
.mainimg .price{color: gray;}
.more{text-align: center;}
.more a{color: dodgerblue;}
.mainimg > div{
    padding-top: 20px;
    font-size: 20px;
}
/* ---------------mainimg2----------------------- */
.mainimg2{
    background: url(../images/iphone_12_pro_us__e5oyysg4k0ya_largetall.jpg) no-repeat center center;
    height: 736px;
    margin-top: 30px;
}
.mainimg2 h1{
    text-align: center;
    color: white;
    padding-top: 100px;
    font-size: 40px;
    padding-bottom: 20px;
}
.mainimg2 p{
    text-align: center;
    color: white;
}
.mainimg2 p:nth-of-type(1){
    font-size: 30px;
    padding-bottom: 10px;
}
.mainimg2 p:nth-of-type(2){
    color: gray;
    font-size: 20px;
    padding-bottom: 30px;
}
.mainimg2 > div{color: white;}
/* ----------------------mainimg3------------------------ */
.mainimg3{
    height: 736px;
    background: url(../images/hero_ipad_pro_non_avail__fcrsmhs4b7ma_largetall.jpg) no-repeat center center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.mainimg3 h1{
    text-align: center;
    color: white;
    padding: 100px 0 20px 0;
    font-size: 40px;
}
.mainimg3 p{
    text-align: center;
    color: white;
}
.mainimg3 p:nth-of-type(1){
    font-size: 20px;
    padding-bottom: 25px;
}
/* ------------------mainimg4-------------------------- */
.mainimg4{
    width: 100%;
    height: 1872px;
    text-align: center;
}
.mainimg4 ul{}
.mainimg4 ul li{
    width: 50%;
    float: left;
    height: 580px;
}
.mainimg4 h1{
    padding-top: 100px;
    font-size: 40px;
    text-align: center;
}
.mainimg4 p{padding: 20px 0 10px 0;}
.mainimg4 .sub{
    color:black;
    font-size: 40px;
}
.mainimg4 .sub1{color: white;}
.mainimg4_3 p{
    color: white;
    margin: 15px 0;
}
.mainimg4 img{margin-left: -100px;}
.mainimg4_3 p, .mainimg4_6 p{color: white;}
.mainimg4_1{background: url(../images/promo_imac__crg641tip4q6_large.jpg) no-repeat center 50px;}
.mainimg4_2{background: url(../images/promo_watch_series_6_lte__f8lrasjnry2y_large.jpg) no-repeat center center;}
.mainimg4_3{background: url(../images/macbook_air__knzp0i282eyy_large.jpg) no-repeat}
.mainimg4_4{background: url(../images/promo_arcade__e7ps46tldi62_large.jpg) no-repeat center 50px;}
.mainimg4_5{background: url(../images/promo_airtag__e6b73a64nno2_large.jpg) no-repeat center 80px;}
.mainimg4_6{background:#000 url(../images/tile__cauwwcyyn9hy_large.jpg) no-repeat center 290px;}
.mainimg4_2{position: relative;}
.mainimg4_2 img{
    position: absolute;
    left: 500px;
    top: 30px;
}
.mainimg4_4{position: relative;}
.mainimg4_4 img{
    position: absolute;
    left: 500px;
    top: 25px;
}
.mainimg4_6 h1{color: white;}
.more{margin: 15px 0;}

/* ----------------footer-------------------- */
#footer{
    width: 100%;
    background: lightgray;
    height: 650px;
}
.footer_inner{
    width: 1000px;
    margin: 0 auto;
}
.footer_inner p{
    font-size: 10px;
    padding-top: 20px;
    line-height: 1.7;
}
.footer_nav > li{
    float: left;
    text-align: left;
    width: 200px;
    padding: 20px 0;
}
.footer_sub > li{padding-bottom: 10px;}
hr{margin: 20px 0;}
.footer_sub > li{
    color: gray;
    padding-bottom: 10px;
}
.footer_sub > li > a{
    color: gray;
    font-size: 11px;
}
.main {
    display: block;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 10px 0;
}
.footer_shop{color: dodgerblue;}
.main1{
    display: block;
    font-size: 16px;
    color: black !important;
    font-weight: bold;
    padding: 10px 0;
}
.footer_out{ }
.copy{
    float: left;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}
.footer_n{
    float: left;
    height: 25px;
    line-height: 25px;
}
.footer_n li{
    float: left;
    height: 25px;
    line-height: 25px;
}
.footer_nav a{
    padding: 0 15px;
    font-size: 12px;
}
.etc{}
.etc1 li{
    float: left;
    padding: 0 5px;
    font-size: 6px;
}
.etc li:first-child{padding-left: 0;}