@charset "utf-8";
@media (max-width:768px) {
    /* common css */
    .inner{
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    body{overflow-x: hidden;}
    /* -----------------header------------------ */
    .lnb{
        width: 100%;
        text-align: center;
    }
    .lnb a{
        font-size: 14px;
        padding: 0 5px;
    }
    nav{width: 100%;}
    .gnb{
        flex-direction: column;
        background: white;
        position: fixed;
        right: -300px;
        top: 0;
        width: 300px;
        height: 100vh;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: 80px;
        padding-right: 20px;
        box-sizing: border-box;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        z-index: 30;
    }
    .gnb.active{right: 0;}
    .gnb li{}
    .gnb li a{
        color: black;
        display: block;
        font-size: 18px;
        margin-top: 30px;
    }
    .gnb li a:hover{background: #eee;}
    .bg.active{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0;
        z-index: 10;
        display: block;
    }
    /* -------------------intro------------------ */
    .heading h1{
        font-size: 28px;
        color: black;
    }
    .heading p{
        padding: 0 20px;
        color: black;
        font-size: 18px;
    }
    video{}
    .trigger{
        display: block;
        width: 30px;
        height: 20px;
        position: absolute;
        right: 30px;
        top: 70px;
        z-index: 40;
    }
    .trigger span{
        display: block;
        height: 1px;
        width: 100%;
        background: #000;
        position: absolute;
        transition: 0.3s;
    }
    .trigger span:nth-child(1){top: 0;}
    .trigger span:nth-child(2){top: 50%;}
    .trigger span:nth-child(3){top: 100%;}
    .trigger.active span:nth-child(1){
        top: 50%;
        transform: rotate(45deg);
    }
    .trigger.active span:nth-child(2){
        top: 50%;
        opacity: 0;
    }
    .trigger.active span:nth-child(3){
        top: 50%;
        transform: rotate(-45deg);
    }
    /* ----------------section: about------------------ */
    .about_inner{
        flex-direction: column;
        padding: 50px 0;
    }
    .about_content div{padding: 10px;}
    .desc h2{font-size: 24px;}
    .desc p{font-size: 14px;}
    /* ------------- section: ranking-------------- */
    .ranking_content{padding: 50px 0;}
    .ranking_content h2{
        font-size: 24px;
        text-align: center;
    }
    .items{
        flex-direction: column;
        align-items: center;
    }
    .item{
        padding: 20px 0;
        border-radius: 10px;
        margin: 20px 0;
    }
    /* -----------------------section: testimonial------------------ */
    .testmonial{padding: 30px 0;}
    .testmonial_content h2{font-size: 20px;}
    /* -----------------section: callaction-------------------- */
    .callaction h2{font-size: 36px;}
    .shared_post_items > .post_items{margin-bottom: 0;}
    .shared_post_items .post_desc{margin-top: 0;}
    /* ---------section : blog------------- */
    .blog{padding: 50px 0;}
    .blog_header{text-align: center;}
    .blog_header h2{
        font-size: 30px;
        line-height: 1.2;
        text-align: center;
    }
    .blog_header p{
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .post_content{flex-direction: column;}
    .post_items{flex-direction: column;}
    .post_image{width: 100%;}
    .post_desc h3{
        margin-top: 20px;
        text-align: center;
    }
    .shared_post_items{padding: 20px 0;}
    /* ---------------------festival------------------------ */
    .festival h3{font-size: 20px;}
    .btns a{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .btns a:first-child{margin-bottom: 20px;}
    /*----------------------- footer ---------------------------*/
    .footer_content{flex-direction: column;}
    .footer_content ul{margin-bottom: 25px;}
}