@charset "utf-8";
#wrap{width: 100%;}
/* -------------header--------------- */
#header{
    width: 100%;
}
.header_inner{
    width: 1200px;
    height: 140px;
    margin: 0 auto;
}
.logo{
    padding-top: 23px;
    box-sizing: border-box;
    float: left;
}
/* ---------------------nav---------------------------- */
.main{
    float: left;
    text-align: center;
}
.main > li{
    display: inline-block;
    width: 150px;
    margin-top: 50px;
    height: 88px;  
    position: relative;
}
.main > li > a{
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.main > li:hover > .sub{border-top: 2px solid red;}
.sub{
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 90px;
    display: none;
    z-index: 2;
}
.sub li{text-align: center;}
.sub li a{
    display: block;
    color: gray;
    padding-top: 20px;
}
.sub li a:hover{
    color: red;
    font-weight: bold;
}
.sub_2{
    float: right;
    position: relative;
    top: 70px;
    right: 180px;
}
.sub_2 li{
    display: inline-block;
    padding: 0 5px;
}
.sub_2 li a{
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}
.sub_2 li:nth-child(1) a{background: red;}
.sub_2 li:nth-child(2) a{background: rgb(255, 255, 0);}
.sub_2 li:nth-child(3) a{background: green;}
.search{
    position: absolute;
    top: -10px;
}
.bg{
    width: 100%;
    height: 400px;
    background: white;
    margin: 0 auto;
    display: none;
    position: absolute;
    z-index: 1;
}
/* right_banner */
.mc_parent{
    position: fixed;
    left: 1600px;
    top: 700px;
}
.mc_fix{
    position: sticky;
    right: 0px;
    top: 40px;
}
.mc_fix .delivery{width: 40%;}
.mc_fix .top{
    display: block;
    margin: 20px 25px 0px 40px;
}
#section{width: 100%;}
/* -------------content1--------------------- */
.content1{
    width: 7680px;
    height: 540px;
}
.content1 img{float: left;}
/* ------------content2----------------------- */
.content2{
    width: 1168px;
    height: 1181px;
    margin: 0 auto;
    background: white;
}
.live{
    color: black;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
}
.content2 ul li{
    float: left;
    width: 366px;
    height: 488px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 0 lightgray;
    padding-top: 40px;
    margin-bottom: 30px;
}
.content2 ul li:hover{
    transform: scale(1.1);
}
.second{margin: 0 35px;}
.content2 ul li img{border-radius: 10px 10px 0 0;}
.text{
    width: 366px;
    height: 78px;
    padding-top: 20px;
    margin: 0 auto; 
    box-sizing: content-box;
    padding-bottom: 100px;
}
.text p{
    width: 370px;
    height: 30px;
    margin: 0 auto;
    text-align: left;
    line-height: 30px;
    margin-top : 10px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 30px;
}
.btn{
    width: 1168px;
    margin: 0 auto;
    text-align: center;
}
/* -------------------footer-------------------------- */
#footer{
    width: 100%;
    background: black;
}
.footer_inner{
    width: 1168px;
    height: 257px;
    margin: 0 auto;
}
.f_left{
    float: left;
    padding-top: 30px;

}
.f_left li{padding-top: 10px;}
.f_left li a{color: white;}
.f_left li .info{color: yellow;}
.f_left2{
    float: left;
    margin-left: 50px;
    padding-top: 30px;
}
.f_left2 li{padding-top: 10px;}
.f_left2 li a{color: gray;}
.icon{
    width: 361px;
    height: 56px;
    float: right;
    margin-top: 10px;
}
.icon li{
    width: 41px;
    height: 40px;
    display: inline-block;
    margin: 0 auto;
    padding: 5px;
}
.icon li a{
    width: 41px;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    padding: 0 30px;
}
.icon li .facebook{background: url(../img/ico_sns.png) no-repeat 0px 0px;}
.icon li .instagram{background: url(../img/ico_sns.png) no-repeat 0 -40px;}
.icon li .youtube{background: url(../img/ico_sns.png) no-repeat 0 -80px;}
.icon li .kakao{background: url(../img/ico_sns.png) no-repeat 0 -120px;}
.icon > .wa{
    width: 100px;
    height: 66px;
    position: relative;
}
.icon > .wa > a{
    width: 100px;
    height: 66px;
    text-indent: 0;
    box-sizing: content-box;
    position: absolute;
    left: -20px;
    top: 25px;
}
.icon .wa a img{width: 100%;}

